<!DOCTYPE html>
<html>
    <head>
        <title>Städte</title>
        <link rel="stylesheet" href="bootstrap.min.css"/>
    </head>
    <body>
        <h1>Städte</h1>
        <form method="post" action="/cities/create">
            <label for="cityNameText">Name</label><input type="text" id="cityNameText" name="cityName"/>
            <label for="countrySelect">Land</label>
            <select id="countrySelect" name="countryIsoCode" class="custom-select">
                {% for country in countries %}
                    <option value="{{ country.getIsoCode() }}">{{ country.getName() }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary btn-sm" type="submit" value="Speichern"/>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Stadt</th>
                    <th scope="col">Land</th>
                </tr>
            </thead>
            <tbody>
            {% if cities %}
                {% for city in cities %}
                <tr>
                    <td>{{ city.getName() }}</td><td>{{ city.getCountry().getName() }}</td>
                </tr>
                {% endfor %}
                    {% else %}
                        Es existieren bis jetzt keine Städte.
                    {% endif %}
                </tr>
            </tbody>
        </table>
        </body>
</html>